.title {
  font: var(--font-heading);
}

.taskItem {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.margin {
  margin-top: 3rem;
}

.errorModalText {
  color: var(--color-tse-navy-blue);
}
